/* Write your CSS here */
.nav-container {
  height: 10vh;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #dcdcdc;
}
@media screen and (min-width: 768px) {
  .nav-container {
    padding: 15px 30px 15px 30px;
  }
}
.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-button-style {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.logo-style {
  height: 35px;
  width: 35px;
}
@media screen and (min-width: 768px) {
  .logo-style {
    height: 45px;
    width: 45px;
  }
}
.menu-button-style {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.menu-style {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 768px) {
  .menu-style {
    height: 40px;
    width: 40px;
  }
}

.popup-content {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
.nav-close-container {
  height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.close-icon-style {
  height: 20px;
  width: 20px;
}
.popup-main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 0px;
}

.popup-sub-container {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.link-style {
  text-decoration: none;
}
.icon-style {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .icon-style {
    height: 35px;
    width: 35px;
  }
}
.content-style {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  color: #616e7c;
}
@media screen and (min-width: 768px) {
  .content-style {
    font-size: 29px;
  }
}
